html {
    background-image: url("https://www.evassociation.org/wp-content/uploads/2023/11/img_4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    flex-shrink: 0;
}

main {
    height: 90vh;
    flex-shrink: 0;
    overflow-y: auto;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: blueviolet;
    padding: 1em;
    border-radius: 0.5em;

    a {
        padding: 15px;
        margin: 0;
        background-color: yellow;
        border-radius: 10px;
        text-decoration: none;
        color: black;
    }

    a:hover {
        background-color: green;
        color: white;
    }
}

#content-container {
    padding: 1rem 1rem 0 1rem;
    background-color: rgba(225, 225, 225, 0.85);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    a:visited {
        color: blue;
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.team-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.player-photo {
    width: 300px;
    height: 300px;
    object-fit: contain;
}