---
const { player } = Astro.props;
const playerSum = player.split(' ');
---

<ul id="playerSum">
    <li>Position: <b>{playerSum[0]}</b></li>
    <li>Team: <b>{playerSum[1]}</b></li>
    <li>Country: <b>{playerSum[2]}</b></li>
    <li>Preferred leg: <b>{playerSum[3]}</b></li>
</ul>