---
const { title } = Astro.props
import '../styles/layout.css';
---

<html>
    <head>
        <title>{title}</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/teams">Teams</a>
                <a href="javascript:void(0)">Players</a>
                <a href="javascript:void(0)">Leagues</a>
            </nav>
        </header>

        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>