---
const { title } = Astro.props
import '../styles/layout.css';
import icon from '../assets/soccer-ball-svgrepo-com.svg'
---

<html>
    <head>
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href={icon.src} />
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/teams">Teams</a>
                <a href="/players">Players</a>
            </nav>
        </header>

        <main>
            <slot />
        </main>
    </body>
</html>